<section>
  <div class="actions" ng-show="currentUser">
    <button ui-sref="add-request">Add</button>
  </div>
  <p></p>
  <article ng-repeat="r in requests.slice().reverse()">
    <header>
      <h1>{{r.property.address}}, {{r.property.city}}, {{r.property.state}}</h1>
      <h1>{{r.description}}</h1>
      <h2>{{r.player.email}} | {{r.date | date}}</h2>
    </header>

    <div class="actions" ng-show="currentUser">
      <button ui-sref="edit-request({ id: r.id })">Edit</button>
      <button a ui-sref="delete-request({ id: r.id })">Delete</button>
    </div>
  </article>
</section>
