<section>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} Propery Form</legend>

      <div class="form-group">
        <label>Address</label>
        <input type="text" name="Address" ng-model="request.address">
      </div>
      <div class="form-group">
        <label>Suburb</label>
        <input type="text" name="City" ng-model="request.city">
      </div>
      <div class="form-group">
        <label>State</label>
        <input type="text" name="Address" ng-model="request.state">
      </div>
      <div class="form-group">
        <label>Postcode</label>
        <input type="text" name="Address" ng-model="request.postcode">
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} Property</button>
      </div>
    </fieldset>
  </form>
  <section>
