<section>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} Request Form</legend>

      <div class="form-group">
        <label>Select your property</label>
        <select
            ng-disabled="isDisabled"
            ng-model="selectedProperty"
            ng-options="property as property.address for property in properties"></select>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="request.description"></textarea>
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} Request</button>
      </div>
    </fieldset>
  </form>
<section>
